<% template "_top.html" . %>

<hr />

<div>This argument come from server's c.Render()<br /></div>
<div>
    test_arg_key : <% index . "test_arg_key" %>
</div>

<hr />


<hr />


<hr />
<game-form>
    <div id="game-form">
        <div>
            You can get a game data using this form<br />
            You can acquire your address when login
        </div>
        <div>
            Address :
            <input
                type="text"
                v-model="address"
                class="address"
                name="address"
                placeholder="address"
            />
        </div>
        <div>
            Result
            <pre v-html="result"></pre>
        </div>
        <button type="button" class="btn-send" v-on:click="do_send">
            Send
        </button>
    </div>
    <script type="vue">
        data: function() {
        	var obj = {
        		address: "",
        		result: ""
        	};
        	return obj;
        },
        methods: {
        	do_send: function() {
        		if(this.address.length == 0) {
        			alert("Please enter address");
        			return;
        		}
        		this.$http.get("/api/games/" + this.address).then(function(res) {
        			this.result = JSON.stringify(res.body);
        		}, function(err) {
        			this.result = err;
        		});
        	}
        }
    </script>
</game-form>

<hr />

<tx-form>
    <div id="tx-form">
        <div>
            You can send transaction using this form<br />
            You should login before to send
        </div>
        <div>
            Count :
            <input
                type="text"
                v-model="count"
                class="count"
                name="count"
                placeholder="count"
            />
        </div>
        <div>
            Result 1 (tx)
            <pre v-html="result1"></pre>
        </div>
        <div>
            Result 2 (commit)
            <pre v-html="result2"></pre>
        </div>
        <button type="button" class="btn-send" v-on:click="do_send">
            Send
        </button>
    </div>
    <script type="vue">
        data: function() {
        	var obj = {
        		count: 1,
        		result1: "",
        		result2: ""
        	};
        	return obj;
        },
        methods: {
        	do_send: function() {
        		if(window.address == null) {
        			alert("Please login first");
        			return;
        		}
        		if(this.count.length == 0) {
        			alert("Please enter count");
        			return;
        		}
        		var count = parseInt(this.count);
        		if(isNaN(count)) {
        			alert("Please enter valid count");
        			return;
        		}

        		var utxo = window.utxos[0];
        		window.utxos.splice(0, 1);

        		this.$http.post("/api/games/"  + window.address + "/commands/add_count", {
        			utxo: utxo,
        			count: count
        		}).then(function(res) {
        			this.result1 = JSON.stringify(res.body);

        			var data = res.body;
        			var msg = new Buffer(data.hash_hex, "hex");
        			var sig = window.key.sign(msg);
        			var SIG_HEX = buf2hex(sig.r.toArrayLike(Buffer, "be", 32)) + buf2hex(sig.s.toArrayLike(Buffer, "be", 32)) + "0" + sig.recoveryParam;

        			this.$http.post("/api/games/"  + window.address + "/commands/commit", {
        				"type": data.type,
        				"tx_hex": data.tx_hex,
        				"sig_hex": SIG_HEX
        			}).then(function(res) {
        				this.result2 = JSON.stringify(res.body);
        			}, function(err) {
        				this.result2 = err;
        			});
        		}, function(err) {
        			this.result1 = err;
        		});
        	},
        	getKeyPair: function(userid, userpw) {
        		userid = SHA2(userid);
        		userpw = SHA2(userpw);
        		var salt = SHA2("this is fleta sandbox");
        		var keyHex = SHA2(userid+"#"+userpw+"#"+salt);
        		var key = ec.keyPair({
        			priv: keyHex,
        			privEnc: "hex",
        		});
        		return key
        	}
        }
    </script>
</tx-form>

<hr />

<% template "_bottom.html" . %>
